<body style="background-image:url('/assets/back.png'); background-size: 500px; background-repeat: no-repeat; position:absolute ">
<div style="position:absolute; float:left ; width:55%"> </div>
<div class="span12" style="float:right ; width:45%">
	<div class="row">
		<a href='' style="float: left;">
			<span>Coders Ranking</span>
		</a>
	</div>

    <div class='row' style="float:left; width:20%">
	   <div class="span "id='signin'>
            <section class='panel sign-up-panel'>
                <header>
                    <br />
                    <h1>Sign in</h1>
                </header>
                <div class='inside-panel'>
                        <div class = "row">
                            <br />
                            <div class="span3">
                                <a class='button' href='https://github.com/login'>
                                    <img src='/assets/index.jpeg' style="height:40px; width:40px" />Sign in via Github
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <br />
                                <div class="span3">
                                    <a class='button' href='http://www.linkedin.com/'>
                                        <div class='signin linkedin'></div>
                                        <img src='/assets/Linkedin.png' style="height:40px; width:40px" />Sign in via Linkedin
                                    </a>
                                </div>
                        </div>

                        <div class = "row">
                             <br />
                                <div class="span3">
                                    <a class='button' href='http://stackoverflow.com/users/login'>
                                        <div class='signin stackoverflow'></div>
                                        <img src='/assets/stackoverflow-logo-250.png' style="height:40px; width:40px" />Sign in via Stack Overflow
                                    </a>
                                </div>
                        </div>


                </div>
            </section>

        </div>
    </div>
    <div style="float : right; width:45%">
        <br/>
        <br/>
        <p> Or, you can sign in with your Coders Ranking account</p>
	     <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  		<div><strong><%= f.label :email %></strong>
  		<%= f.email_field :email %></div>
	     <div><strong><%= f.label :Passwd %></strong>
  	     <%= f.password_field :password %></div>
             
             <div><%= f.submit "Sign in"  %></div>
             <%end%>
             <p class=''>
                 Don't have an account?
                 <a href="http://localhost:3000/users/sign_up">Join Coders Ranking</a>.
             </p>
    </div>
</div>
</body>
