<div >
  <h3> POSTS </h3>
  <h3><% @User %>  </h3>
</div>

<div>
  <%= form_tag ({:action => "create"}), ({:method => :post}) do %>
    Title<br>
    <%= text_field_tag "post[title]" %>
    <br />

    Message<br>
    <%= text_field_tag "post[text]" %>

    <%= submit_tag "Post" %>
  <% end %>

  <ul>
    <% @posts.each do |post| %>
        <p><%= post.user.username %></p>
        <p><%= post.title %></p>
        <p><%= post.text %></p>

        <% post.comments.each do |comment| %>
            <%= comment.text %>
        <% end %>

        <%= form_tag ({:controller => "comments", :action => "create"}), ({:method => :post}) do %>
            <%= text_field_tag "comment[text]" %>
            <%= hidden_field_tag "comment[post_id]", post.id %>
            <%= submit_tag "Comment" %>
        <% end %>
    <% end %>
  </ul>
</div>
